/* GENERAL */

body {
    padding: 0%; 
    font-family: Arial, Helvetica, sans-serif;
}
.page {
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.main-content {
    margin: 0px;
    text-align: center;
    margin-top: 12%;
    width: 100%;
}
/* GENERAL END */



/* HEADER */
.header {
    position: fixed;
    color: white;
    padding: 1%;
    width: 100%;
    background-color: #283655;
    text-align: center;
    top: 0px;
    font-weight: bolder;
    font-size: 60px;
    z-index: 1000 !important;
}

#github-link-logo {
    width: 75px;
    height: 75px;
    position: fixed;
    right: 20px;
    top: 20px;
    transition: .4s ease-in-out;
}


#github-link-logo:hover {
    transform: scale(1.1)
}

/* HEADER END */








/* INTRODUCTION */

.intro-container {
    text-align: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10%;
}

.page-intro {
    font-size: 29px;
    padding: 2%;
}

#page-intro-right {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

/* INTRODUCTION END */









/* MAPS */

#yearLabel {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 30px;
    font-weight: 900;
    z-index: 10;
}

.map-title {
    padding: 1%;
}

.map {
    border: 2px solid black;
}

#heat-map {
    cursor: crosshair;
    z-index: 1;
}

#choro-map {
    cursor: crosshair;
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    position: absolute;
    border: 2px solid white;
    z-index: 10;
    display: none;
    padding: 5px 8px 5px 8px;
}



.map-information {
    text-align: center;
    font-size: 20px;
    padding: 2%;
}

.map-container {
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    min-width: 83vh !important;
}

/* MAPS END */









/* CHARTS */

.charts-container{
    margin-top: 8%;
}

.chart-container {
    margin-top: 8%
}

#opioid-bar-chart {
    width: 90vw;
}

#opioid-bar-chart-year-acc{
    width: 90vw;
}

/* CHARTS END */









/* BUTTONS */

.material-icons.md-36 {
    font-size: 36px;
}


.btnPlay {
    bottom: 48%;
    left: 48%;
}

.btnStop {
    bottom: 0;
    right: 0;
    display: none;
}

.btnPause {
    bottom: 0px;
    right: 90px;
    display:none;
}


.map-button {
    position: absolute;
    background-color: #283655;
    color: white;
    transition: 0.3s;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    border: none;
    z-index: 10;
}

.map-play-wrapper {
    display: inline-block;
    position: relative;
}

.map-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.map-button:focus {
    outline: none;
}

.map-button:active {
    color: black;
    background-color: green;
}

/* BUTTONS END */








/* FOOTER  */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
    padding: 60px 0;
}

.container {
    text-align: center;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    min-width: 100% !important;
    border-top: rgba(0, 0, 0, 0.2);
    width: 100%;
    color: #ffffff;
    margin-top: 5%;
    background: #283655 !important;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

#footer-title-right {
    border-right: 3px solid #eeeeee;
}


/* FOOTER END */
